// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.q-dialog__inner  > div{
 overflow:unset !important;
}

div.q-dialog__inner.flex.no-pointer-events.q-dialog__inner--minimized.q-dialog__inner--top.fixed-top.justify-center.q-dialog__inner--fullwidth > div > div.card-body > form > div.q-gutter-md.q-pa-sm > label.q-field.row.no-wrap.items-start.q-field--standard.q-select.q-field--auto-height.q-select--without-input.q-select--without-chips.q-select--single.q-field--float.q-field--labeled > div > div > div.q-field__control-container.col.relative-position.row.no-wrap.q-anchor--skip {
    min-width: 100% !important;

}

#app > main > div > div:nth-child(1) > div > div > div > div > div.card-body > div > div > label > div > div > div.q-field__control-container.col.relative-position.row.no-wrap.q-anchor--skip{
    min-width: 100% !important;
}